.Authloader {
    margin-inline: auto;
    margin-top: 100px;
    width: 50px;
    aspect-ratio: 1;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 50%;
    display: grid;
    animation: l11 1.5s infinite linear;
    transform-origin: 50% 80%;
  }
  .Authloader:before,
  .Authloader:after {
    content: "";
    grid-area: 1/1;
    border: inherit;
    border-radius: 50%;
    animation: inherit;
    animation-duration: 1s;
    transform-origin: inherit;
  }
  .Authloader:after {
    --s:-1;
  }
  @keyframes l11 {
     100% {transform:rotate(calc(var(--s,1)*1turn))}
  }
  .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-inline: auto;
    margin-top: 200px;
  }
  .PostLoader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-inline: auto;
    margin-top: 30px;
  }
  .Button-loader{
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid rgb(73, 228, 127); /* Blue */
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }