tr:nth-child(even){
    background-color:  rgb(240 253 244 /1);
}
.breadcrumb {
    --s: 20px; /* control the shape */
    height: 35px;
    line-height: 1.8; /* control the height */
    padding-inline: calc(var(--s) + .3em);
    clip-path: polygon(0 0,calc(100% - var(--s)) 0,100% 50%,calc(100% - var(--s)) 100%,0 100%,var(--s) 50%);
    background: #64908A;
    width: fit-content;
  }
  .breadcrumb1{
    --s: 20px; /* control the shape */
    height: 35px;
  line-height: 1.8; /* control the height */
  padding-inline: .3em calc(var(--s) + .3em);
  clip-path: polygon(0 0,calc(100% - var(--s)) 0,100% 50%,calc(100% - var(--s)) 100%,0 100%);
  background: #64908A;
  width: fit-content;
  }


  tr {
    transition: opacity 0.5s ease-in, height 0.5s ease-in;
    opacity: 1;
    height: 40px; /* Adjust based on your row height */
    overflow: hidden; /* Helps to collapse the height smoothly */
  }
  
  tr.fade-out {
    opacity: 0;
    height: 0;
  }

  



  
  