@tailwind base;
@tailwind components;
@tailwind utilities;

.image{
  background-image: url('../public/images/img_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 600px;
}
.btn::before{
   content: "";
   width: 0;
   height: 0;
   background-color: rgb(22 163 74);
   position: absolute;
   top: 50%;
   left: 50%;
   border-radius: 50%;
   opacity: 0;
   z-index: -1;
   transition: 0.8s;
   color: black;
   transform: translate(-50%,-50%);
}
.btn:hover::before,
.btn:active::before{
   opacity: 1;
   width: 120px;
   height: 120px;
}
.btn:hover,
.btn:active{
  color: white;
}
input{
   outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
  border: 2px solid rgb(22 163 74);
}


.active{
  outline: 2px solid rgb(73, 228, 127);
  outline-offset: -2px;
  border-radius: 11px;
}
.header{
  box-shadow: #3498db;
}




.corner-only {
  --s: 50px; /* size of the corners */
  border: 8px solid #B38184; 
  padding: 10px;
  height: 150px;
  width: 150px;
  margin-inline: auto;
  background: #f2f2f2 content-box;
  mask: 
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
    0 0/calc(100% - var(--s)) calc(100% - var(--s));
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}