@tailwind base;
@tailwind components;
@tailwind utilities;

.image{
  background-image: url('../public/images/img_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 600px;
}
.btn::before{
   content: "";
   width: 0;
   height: 0;
   background-color: rgb(22 163 74);
   position: absolute;
   top: 50%;
   left: 50%;
   border-radius: 50%;
   opacity: 0;
   z-index: -1;
   transition: 0.8s;
   color: black;
   transform: translate(-50%,-50%);
}
.btn:hover::before,
.btn:active::before{
   opacity: 1;
   width: 120px;
   height: 120px;
}
.btn:hover,
.btn:active{
  color: white;
}
input{
   outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
  border: 2px solid rgb(22 163 74);
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-inline: auto;
  margin-top: 200px;
}
.PostLoader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-inline: auto;
  margin-top: 30px;
}
.Button-loader{
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid rgb(73, 228, 127); /* Blue */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.active{
  outline: 2px solid rgb(73, 228, 127);
  outline-offset: -2px;
  border-radius: 11px;
}
.header{
  box-shadow: #3498db;
}
.Css{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
background: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
  z-index: 78;
}
.Authloader {
  margin-inline: auto;
  margin-top: 100px;
  width: 50px;
  aspect-ratio: 1;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l11 1.5s infinite linear;
  transform-origin: 50% 80%;
}
.Authloader:before,
.Authloader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 1s;
  transform-origin: inherit;
}
.Authloader:after {
  --s:-1;
}
@keyframes l11 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}



.corner-only {
  --s: 50px; /* size of the corners */
  border: 8px solid #B38184; 
  padding: 10px;
  height: 150px;
  width: 150px;
  margin-inline: auto;
  background: #f2f2f2 content-box;
  mask: 
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
    0 0/calc(100% - var(--s)) calc(100% - var(--s));
}

.form{
  outline: 2px dashed #15e148;
  width: 80%;
  margin-inline: auto;
  box-shadow: 30px;
}